[submodule "Week8/1. GIT-HOL/GitDemo"]
	path = Week8/1. GIT-HOL/GitDemo
	url = https://github.com/GolamAli1105/GitDemo
[submodule "Week8/3. GIT-HOL/BranchingDemo"]
	path = Week8/3. GIT-HOL/BranchingDemo
	url = https://github.com/GolamAli1105/BranchingDemo
[submodule "Week8/4. GIT-HOL/GitHol4"]
	path = Week8/4. GIT-HOL/GitHol4
	url = https://github.com/GolamAli1105/GitHol4
[submodule "Week8/5. GIT-HOL/GitHol5"]
	path = Week8/5. GIT-HOL/GitHol5
	url = https://github.com/GolamAli1105/GitHol5
